body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: #f8fafc;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}
#container{
    height: 50vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(6, 36, 125);
}

label {
    font-size: 1.2rem;
    color: wheat;
}

input {
    padding: 8px 10px;
    border-radius: 6px;
    border: 2px solid black;
    font-size: 15px;
    transition: all 0.2s ease-in-out ;
}
input:hover {
    background-color: #d7d7d7;
    scale: 1.1;
}
input:active{
    transform: translateY(-2px);
}

button {
    margin-top: 8px;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #2563eb;
    color: white;
    font-size: 15px;
    transition: all 0.2s ease-in-out ;
}

button:hover {
    background-color: #1d4ed8;
    scale: 1.1;
}
button:active{
    transform: translateY(-2px);
}
