body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(108, 1, 1);
}
#myImg{
    height: 400px;
    width: 600px;
    border: 10px solid rgb(2, 85, 2);
}
#mybtn{
    margin-top: 30px;
    font-size: 2rem;
    background-color: green;
    color: white;
    width: 90px;
    border-radius: 10px;
    border: 3px solid black;
    transition: all 0.2s ease-in-out;
}
#mybtn:hover{
    scale: 1.1;
}