#countDisplay{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(7, 65, 116);
}
#button-container{
    text-align: center;
}
.button-styles{
    height: 3em;
    margin: 4px;
    border: 2px solid rgb(7, 65, 116);
    background-color: rgb(18, 124, 216);
    color: aliceblue;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
   
}
.button-styles:hover {
    scale: 1.1;
    background-color: rgb(1, 59, 110);

}